%body
  .single-container
    %header.single-header
      %h1
        = link_to root_path, class: "single-header" do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2960600120"
    %main.single-main
      %section.l-single-container
        .login-no-account
          %h2 新規会員登録
        .login-form-inner
          .l-login-form-inner
            %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
              %i.fab.fa-facebook
              Facebookで登録
            %button#google-login.btn-default.btn-sns.btn-sns-google
              %i.fab.fa-google-plus-square
              Googleで登録
            = link_to new_user_registration_path , class: "btn-default btn-sns btn-mail" do
              %i.far.fa-envelope
              メールアドレスで登録
    %footer.single-footer
      %nav
        %ul.clearfix
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
      = link_to root_path, class: "single-footer-logo" do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2960600120"
      %p
        %small © 2018 Mercari