.wrapper
  %main.mypage.clearfix
    = render 'shared/sidebar'

    .contents
      .user
        .user__icon
          = link_to users_path do
            %figure
              %img.avatar{alt: "", src: "https://static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png"}/
            %h2.user__name d_riko
            .user__result
              .user__result__evolute
                評価
                %span.bold 0
              .user__result__sell
                出品数
                %span.bold 0

      .mypage--notification-todo
        %ul.mypage__tabs
          %li.mypage__tabs__notification.inactive
            = link_to 'お知らせ', 'users'
          %li.mypage__tabs__notification.active
            = link_to 'お知らせ', 'users'
        %ul.mypage__tabs
          %li.mypage__tabs__todo.inactive
            = link_to 'やることリスト', 'users'
          %li.mypage__tabs__todo.active
            = link_to 'やることリスト', 'users'

        %ul.mypage__list.active#mypage__list--notification
          %li.mypage__list__item--not-found
            お知らせはありません
          %li.mypage__list__item
          %li.mypage__list__item

        %ul.mypage__list.active#mypage__list--todo
          %li.mypage__list__item--not-found
            現在、やることリストはありません
          %li.mypage__list__item
          %li.mypage__list__item

      .mypage--now-past
        %h3.mypage__head 購入した商品
        %ul.mypage__tabs
          %li.mypage__tabs__now.inactive
            = link_to '取引中', 'users'
          %li.mypage__tabs__now.active
            = link_to '取引中', 'users'
        %ul.mypage__tabs
          %li.mypage__tabs__past.inactive
            = link_to '過去の取引', 'users'
          %li.mypage__tabs__past.active
            = link_to '過去の取引', 'users'

        %ul.mypage__list.active#mypage__list--now
          %li.mypage__list__item--not-found
            取引中の商品がありません
          %li.mypage__list__item
          %li.mypage__list__item

        %ul.mypage__list.active#mypage__list--past
          %li.mypage__list__item--not-found
            過去に取引した商品がありません
          %li.mypage__list__item
          %li.mypage__list__item
