.wrapper
  %main.mypage.clearfix
    .menu
      %nav.menu__nav
        %ul
          %li.list
            = link_to 'マイページ', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to 'お知らせ', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to 'やることリスト', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to 'いいね！一覧', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '出品する', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '出品した商品 − 出品中', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '出品した商品 − 取引中', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '出品した商品 − 売却済み', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '出品した商品 − 取引中', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '購入した商品 − 過去の取引', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '出品した商品 − ニュース一覧', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '評価一覧', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to 'ガイド', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to 'お問い合わせ', 'users'
            = fa_icon 'chevron-right', class: 'icon'

        %h3.menu__nav__head 売上・ポイント
        %ul
          %li.list
            = link_to '売上・ポイント振込申請', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to 'ポイント', 'users'
            = fa_icon 'chevron-right', class: 'icon'

        %h3.menu__nav__head 設定
        %ul
          %li.list
            = link_to 'プロフィール', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '住所変更', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '支払い方法', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to 'メール/パスワード', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '本人情報', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to '電話番号の確認', 'users'
            = fa_icon 'chevron-right', class: 'icon'
          %li.list
            = link_to 'ログアウト', 'users'
            = fa_icon 'chevron-right', class: 'icon'

    .contents
      .user
        .user__icon
          = link_to users_path do
            %figure
              %img.avatar{alt: "", src: "https://static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png"}/
            %h2.user__name d_riko
            .user__result
              .user__result__evolute
                評価
                %span.bold 0
              .user__result__sell
                出品数
                %span.bold 0

      .mypage--notification-todo
        %ul.mypage__tabs
          %li.mypage__tabs__notification.inactive
            = link_to 'お知らせ', 'users'
          %li.mypage__tabs__notification.active
            = link_to 'お知らせ', 'users'
        %ul.mypage__tabs
          %li.mypage__tabs__todo.inactive
            = link_to 'やることリスト', 'users'
          %li.mypage__tabs__todo.active
            = link_to 'やることリスト', 'users'

        .mypage__contents--notification
        .mypage__contents--todo

      .mypage--now-past
        %h3.mypage__head 購入した商品
        %ul.mypage__tabs
          %li.mypage__tabs__now.inactive
            = link_to '取引中', 'users'
          %li.mypage__tabs__now.active
            = link_to '取引中', 'users'
        %ul.mypage__tabs
          %li.mypage__tabs__past.inactive
            = link_to '過去の取引', 'users'
          %li.mypage__tabs__past.active
            = link_to '過去の取引', 'users'

        .mypage__contents--now
        .mypage__contents--past
