.header
  .header-contents
    .header-contents__top.clearfix
      %h1.header-contents__top-left
        = link_to image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2900942513', { alt: "mercari", height: "36", width: "134"}), root_path
      %form.header-contents__top-right{action: "https://www.mercari.com/jp/search/"}
        %input.input-default{name: "keyword", placeholder: "キーワードから探す", type: "search", value: ""}/
        = fa_icon 'search', class: 'icon-search'
    .header-contents__bottom.clearfix
      .header-contents__bottom-left
        %ul.genre-ul
          %li.genre-li
            %a.category-list{href: ""} カテゴリーから探す
          %li.genre-li
            %a.brand-list{href: ""} ブランドから探す
      .header-contents__bottom-right
        %ul.user
          - if user_signed_in?
            %li.user-li
              = link_to user_path(id: current_user.id), class: "user-mypage"do
                = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png', width: "30", alt: "", class: "user-image"
                マイページ
            %li.user-li
              %i.far.fa-bell.icon
              %span お知らせ
            %li.user-li
              = fa_icon 'check'
              %span やることリスト
          - else
            %li.login
              = link_to "ログイン", new_user_session_path, class: "login-text"
            %li.sign-up
              = link_to "新規会員登録", users_path, class: "signup-text"
