.menu
  %nav.menu__nav
    %ul
      %li.list
        = link_to user_path(@user) do
          マイページ
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          お知らせ
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          やることリスト
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          いいね！一覧
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to new_item_path do
          出品する
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to sell_path do
          出品した商品 − 出品中
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          出品した商品 − 取引中
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          出品した商品 − 売却済み
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          購入した商品 − 取引中
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          購入した商品 − 過去の取引
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          ニュース一覧
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          評価一覧
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          ガイド
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          お問い合わせ
          = fa_icon 'chevron-right', class: 'icon'

    %h3.menu__nav__head 売上・ポイント
    %ul
      %li.list
        = link_to user_path(@user) do
          売上・振込申請
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          ポイント
          = fa_icon 'chevron-right', class: 'icon'

    %h3.menu__nav__head 設定
    %ul
      %li.list
        = link_to edit_profiles_path do
          プロフィール
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          住所変更
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to card_path do
          支払い方法
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          メール/パスワード
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to edit_identification_path do
          本人情報
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to user_path(@user) do
          電話番号の確認
          = fa_icon 'chevron-right', class: 'icon'
      %li.list
        = link_to profiles_path do
          ログアウト
          = fa_icon 'chevron-right', class: 'icon'
