%body
  .single-container
    %header.single-header
      %h1
        = link_to root_path, class: "single-header" do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2960600120"
    %main.single-main
      .login-panel
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          = link_to new_user_registration_path , class: "l-login-no-account" do
            新規会員登録
        .login-form-inner
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.fab.fa-facebook
            Facebookでログイン
          %button#google-login.btn-default.btn-sns.btn-sns-google
            %i.fab.fa-google-plus-square
            Googleでログイン
        %form
          .login-form-inner
            = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              .form-group
                = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
              .form-group
                = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
              .form-group
                .g-recaptcha.login-captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
                  %div{:style => "width: 304px; height: 78px;"}
                    %div
                      %iframe{:frameborder => "0", :height => "78", :name => "a-u9e6w1otjfn0", :role => "presentation", :sandbox => "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=2&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1540189908068&size=normal&cb=oae1d4risqt6", :width => "304"}
                    %textarea#g-recaptcha-response.g-recaptcha-response{:name => "g-recaptcha-response", :style => "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
                      :preserve
                        
                                                          .actions
                = f.submit "ログイン"
              .password-forgot
                - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
                  = link_to "パスワードをお忘れの方", new_password_path(resource_name)
    %footer.single-footer
      %nav
        %ul.clearfix
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
      = link_to root_path, class: "single-footer-logo" do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2960600120"
      %p
        %small © 2018 Mercari
