%body
  .defalt-container
    = render "shared/header"
    %section.item-box-container.u-single-container
      %h1.item-name
        = @item.name
      .item-main-content.clearfix
        .item-photo
          .owl-carousel.owl-loaded.owl-drag
            .owl-stage-outer
              .owl-stage{style: "left: 0px; width: 300px;"}
                .owl-item.active{style: "width: 300px;"}
                  .owl-item-inner.is-higher-width{"data-thumbnail-class-name": " is-higher-width"}
                    %img.owl-lazy{alt: @item.name, "data-src": "https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m81006698765_1.jpg?1540782839", src: "https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m81006698765_1.jpg?1540782839", style: "opacity: 1;"}/
            .owl-nav.disabled
              .owl-prev prev
              .owl-next next
            .owl-dots.disabled{style: "display: none;"}
              .owl-dot.active
                %span
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                %a{href: "https://www.mercari.com/jp/u/966879579/"}
                  = @item.user.nickname
                %div
                  .item-user-ratings
                    %i.fas.fa-grin-beam
                    %span 2
                  .item-user-ratings
                    %i.fas.fa-meh
                    %span 0
                  .item-user-ratings
                    %i.fas.fa-frown
                    %span 0
            %tr
              %th カテゴリー
              %td
                %a{href: "https://www.mercari.com/jp/category/#{@item.category.id}/"}
                  %div
                    = @item.category.name
                %a{href: "https://www.mercari.com/jp/category/#{@item.mitem.id}/"}
                  .item-detail-table-sub-sub-category
                    %i.fas.fa-angle-right>
                    = @item.mitem.name
            %tr
              %th ブランド
              %td
                = @item.brand

            %tr
              %th 商品の状態
              %td
                = @item.condition
            %tr
              %th 配送料の負担
              %td
                = @item.burden
            %tr
              %th 配送の方法
              %td
                = @item.shipping_method
            %tr
              %th 配送元地域
              %td
                %a{href: "https://www.mercari.com/jp/area/#{@item.class.from_prefectures[@item.from_prefecture]}/"}
                  = @item.from_prefecture
            %tr
              %th 発送日の目安
              %td
                = @item.shipping_days
      .item-price-box.text-center
        %span.item-price.bold ¥
        %span.item-price.bold
          = @item.price.to_s(:delimited)
        %span.item-tax (税込)
        %span.item-shipping-fee
          = @item.burden
      .item-description
        %p.item-description-inner 仮です。
    .item-detail-message
      .message-container
        .message-content
          %form.command-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
            %button.message-submit.btn-default.btn-red{:type => "submit"}
              %span 商品の編集
            %p.message-text-center or
            %button.message-submit.btn-default.btn-gray{:type => "submit"}
              %span 出品を一旦停止する
            %button.message-submit.btn-default.btn-gray{:type => "submit"}
              %span この商品を削除する
    .item-detail-message
      .message-container
        .message-content
          %form.message-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
            %input{:name => "__csrf_value", :type => "hidden", :value => "c43823ecab510029768ba6e18316a6c5ef7aff7a07bfceec51ba52a83163a496aadd9d165f415bb5be3ec4b1ec459829f5c3aea6ca6eee3b84cd16f89be1e020e"}/
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %input{:name => "item_id", :type => "hidden", :value => "m81006698765"}/
            %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
            %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
            %button.message-submit.btn-default.btn-gray{:type => "submit"}
              %span コメントする
    %aside.app-banner
      .app-banner__contain
        .app-banner__contain-inner
          %h2.banner-title スマホでかんたんフリマアプリ
          %p.banner-text 今すぐ無料ダウンロード！
          .app-banner__contain-inner__logo
            %img.logo-left{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2960600120", :width => "68"}/
            %ul.clearfix
              %li.ios-logo
                %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
                  %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2960600120", :width => "133"}/
              %li.android-logo
                %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
                  %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2960600120", :width => "133"}/
        %img.logo-right{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2960600120"}/
    %footer.footer
      .footer-contents
        %ul.content
          %li.footer-cell
            %h2.footer-head メルカリについて
            %ul.footer-bottoms
              %li
                %a{:href => "https://about.mercari.com/"} 会社概要（運営会社）
              %li
                %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
              %li
                %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
              %li
                %a{:href => "https://www.mercari.com/jp/tos_paid_point/"} メルカリ利用規約・有償ポイントに関する特約
              %li
                %a{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
              %li
                %a{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
              %li
                %a{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
              %li
                %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
              %li
                %a{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
              %li
                %a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
              %li
                %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
          %li.footer-cell
            %h2.footer-head メルカリを見る
            %ul.footer-bottoms
              %li
                %a{:href => "https://www.mercari.com/jp/category/"} カテゴリー一覧
              %li
                %a{:href => "https://www.mercari.com/jp/brand/"} ブランド一覧
              %li
                %a{:href => "https://www.mercari.com/jp/area/"} 出品地域一覧
              %li
                %a{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
              %li
                %a{:href => "https://twitter.com/mercari_jp", :target => "_blank"} 公式Twitter
              %li
                %a{:href => "https://www.facebook.com/mercarijp", :target => "_blank"} 公式Facebook
          %li.footer-cell
            %h2.footer-head ヘルプ＆ガイド
            %ul.footer-bottoms
              %li
                %a{:href => "https://www.mercari.com/jp/help_center/"} メルカリガイド
              %li
                %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
              %li
                %a{:href => "https://about.mercari.com/press/news/"} お知らせ
              %li
                %a{:href => "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便とは
              %li
                %a{:href => "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便とは
              %li
                %a{:href => "https://www.mercari.com/jp/rakuraku-ogata/"} 大型らくらくメルカリ便とは
              %li
                %a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
              %li
                %a{:href => "https://www.mercari.com/jp/refund-returns/"} 返品・返金ポリシー
              %li
                %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
              %li
                %a{:href => "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
              %li
                %a{:href => "https://www.mercari.com/jp/box/"} メルカリボックス
          %li.footer-cell
            %h2.footer-head 国
            %ul.footer-lang
              %li
                %a{:href => "https://www.mercari.com/"}
                  %img{alt: "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_us.png?2960600120", width: "22"}>/
                  United States
              %li
                %a{:href => "https://www.mercari.com/uk/"}
                  %img{:alt => "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_uk.png?2960600120", width: "22"}>/
                  United Kingdom
              %li
                %a.active{:href => "https://www.mercari.com/jp/"}
                  %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_jp.png?2960600120", width: "22"}>/
                  日本
      %a.footer-logo{:href => "https://www.mercari.com/jp/"}
        %img{alt: "mercari", height: "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?2960600120", width: "115"}/
      %p.footer-copyright
        %small © 2018 Mercari
