%body
  .contains
    = render 'shared/header'

    %main
      %section.image-top
        .image-top__box
          .image-top__box-left
            %h2
              スマホでかんたん
              %br/
              フリマアプリ
            %p
              メルカリはスマホカメラからすぐに出品できる
              %br/
              購入時も安心な独自システムのアプリです
            .image-top__box-left__link
              = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank", class: "app-link" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?582886128", alt: "", class: "app-image"
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank", class: "app-link" do
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2960600120", alt: "", class: "app-image"
          %img.image-top__box-left__visual{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2960600120"}/

      %section.category
        %h2.category-title ピックアップカテゴリー
        %section.category-container
          %h3.category-container__name
            = link_to "レディース新着アイテム", root_path, class: "category-link"
          .category-container__items
            - @item_woman.each do |woman|
              .category-container__items-box
                = link_to item_path(woman) do
                  = image_tag woman.images.first.image_url, alt: "レデース", class: "item-image"
                .category-container__items-box__name
                  %h3.item-name
                    = woman.name
                  .item-details
                    .item-price ¥
                    = woman.price
                    .item-like
                      %i.far.fa-heart.icon
                      %span 3
                    %p.item-tax (税込)
          .category-container__link
            %a.link-name{href: ""} すべての商品を見る

      %section.category
        %h2.category-title ピックアップブランド
        %section.category-container
          %h3.category-container__name
            %a.category-link{href: ""} シャネル新着アイテム
          .category-container__items
            - @item_chanel.each do |chanel|
              .category-container__items-box
                = link_to item_path(chanel) do
                  = image_tag chanel.images.first.image_url, alt: "シャネル", class: "item-image"
                .category-container__items-box__name
                  %h3.item-name
                    = chanel.name
                  .item-details
                    .item-price ¥
                    = chanel.price
                    .item-like
                      %i.far.fa-heart.icon
                      %span 3
                    %p.item-tax (税込)
          .category-container__link
            %a.link-name{href: ""} すべての商品を見る

    = render "shared/footer"
