= render 'shared/user_header'

.sell-main
  %section.sell-section
    .sell-container
      %h2.sell-container-title 商品の情報を入力
      .sell-form
        = form_for @item do |f|
          .sell-image
            %h3.sell-image-title
              出品情報
              %span.form-require 必須
            %p 最大4枚までアップロードできます
            .sell-image__box
              .sell-image__box-items
              .sell-image__box-upload
                - 4.times do |i|
                  = f.fields_for :images do |i|
                    = i.file_field :image_url
                %pre.visible-pc
                  ドラッグアンドドロップ
                  またはクリックしてファイルをアップロード
          .sell-content.clearfix
            .form-group
              %label
                商品名
                %span.form-require 必須
              .form-group-title
                = f.text_field :name, class: 'input-default',placeholder: '商品名(必須 40字まで)'
            .from-group
              %label
                商品の説明
                %span.form-require 必須
              .form-group-title
                = f.text_area :content, class: 'textarea-default',placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
          .sell-content.clearfix
            %h3.sell-head 商品の詳細
            .sell-form-box
              .form-group
                %label
                  カテゴリー
                  %span.form-require 必須
                .select-box
                  = f.select :category_large_id, @categories.map{|t| [t.name, t.id]}, {prompt: '---'}, {class: 'select-box-default'}
                  = fa_icon 'angle-down'
                .select-box
                  = f.select :category_medium_id, @categories.map{|t| [t.name, t.id]}, {prompt: '---'}, {class: 'select-box-default'}
                  = fa_icon 'angle-down'
                .select-box
                  = f.select :category_small_id, @categories.map{|t| [t.name, t.id]}, {prompt: '---'}, {class: 'select-box-default'}
                  = fa_icon 'angle-down'
              .form-group
                %label
                  サイズ
                  %span.form-require 必須
                .select-box
                  = f.select :size, Item.sizes.keys, {prompt: '---'}, {class: 'select-box-default'}
                  = fa_icon 'angle-down'
              .form-group
                %label
                  ブランド
                  %span.form-arbitrary 任意
                .select-box
                  = f.text_field :brand, placeholder: '例）シャネル', class: 'input-default'
              .form-group
                %label
                  商品の状態
                  %span.form-require 必須
                .select-box
                  = f.select :condition, Item.conditions.keys.to_a, {prompt: '---'}, {class: 'select-box-default'}
                  = fa_icon 'angle-down'
          .sell-content.clearfix
            %h3.sell-head 配送について
            .form-question
              = link_to '?', "/jp/help_center/article/68/", target: "_blank", class: "question"
            .sell-form-box
              .form-group
                %label
                  配送料の負担
                  %span.form-require 必須
                .select-box
                  = f.select :burden, Item.burdens.keys.to_a, {prompt: '---'}, {class: 'select-box-default'}
                  = fa_icon 'angle-down'
              .form-group
                %label
                  配送の方法
                  %span.form-require 必須
                .select-box
                  = f.select :shipping_method, Item.shipping_methods.keys.to_a, {prompt: '---'}, {class: 'select-box-default'}
                  = fa_icon 'angle-down'
              .form-group
                %label
                  発送元の地域
                  %span.form-require 必須
                .select-box
                  = f.select :from_prefecture, Item.from_prefectures.keys.to_a, {prompt: '---'}, {class: 'select-box-default'}
                  = fa_icon 'angle-down'
              .form-group
                %label
                  発送までの日数
                  %span.form-require 必須
                .select-box
                  = f.select :shipping_days, Item.shipping_days.keys.to_a, {prompt: '---'}, {class: 'select-box-default'}
                  = fa_icon 'angle-down'
          .sell-content.clearfix
            %h3.sell-head 販売価格(300〜9,999,999)
            .form-question
              = link_to '?', '/jp/help_center/article/68/', target: '_blank', class: 'question'
            .sell-form-box
              %ul.sell-price
                %li.li-sell-form
                  .clearfix
                    %label.label-left
                      価格
                      %span.form-require 必須
                    .sell-form__input
                      ¥
                      .sell-form__input-box
                        = f.text_field :price, placeholder: '例) 300', class: 'input-default'
                %li.clearfix
                  .l-left
                    販売手数料(10%)
                  .l-right -
                %li.clearfix.bold
                  .l-left 販売利益
                  .l-right -
          .sell-content.sell-btn-box
            .alert-detail
              %p
                = link_to '禁止されている出品', "/jp/help_center/getting_started/prohibited_items/", target: "_blank", class: "alert-text"
                、
                = link_to '行為', "/jp/help_center/getting_started/prohibited_conduct/", target: "_blank", class: "alert-text"
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to '偽ブランドの販売', "https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/", target: ",_blank", class: "alert-text"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして
                = link_to '加盟店規約', 'https://www.mercari.com/jp/seller_terms/', target: '_blank', class: 'alert-text'
                に同意したことになります。
            .btn-default
              = f.submit '出品する', class: 'btn-red'
            .btn-default.btn-gray
              = link_to 'もどる', root_path, class: 'btn-back'

= render 'shared/user_footer'
