= render 'shared/header'

.bread_crumbs
  %ul.bread
    %li.bread
    = link_to sell_path do
      - breadcrumb :sell
      = breadcrumbs


.wrapper
  %main.mypage.clearfix
    = render 'shared/sidebar'

    .l-content
      %section.mypage-tab-container
        %h2.mypage-tab-head 出品した商品
        %ul.listing-tabs
          %li.active
            %h3
              / ここのパスは編集用ビュー画面作成後変更します
              = link_to "出品中", sell_path
          %li.active1
            %h3
              / ここのパスは編集用ビュー画面作成後変更します
              = link_to "取引中", sell_path
          %li.active1
            %h3
              / ここのパスは編集用ビュー画面作成後変更します
              = link_to "売却済", sell_path
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active

            %li
              - @items.each do |item|
                = link_to edit_item_path(item) do
                  .mypage-item-link
                    %figure
                      = image_tag item.images.first.image_url, class: 'is-higher-width lazyloaded'
                    .mypage-item-body.show-stock-item
                      .mypage-item-text
                        = item.name
                      %div
                        %span.listing-item-count
                          %i.far.fa-heart
                          %span 0
                        %span.listing-item-count
                          %i.far.fa-comment-alt
                          %span 0
                        .mypage-item-status.bold.awaiting
                          出品中
                    %i.fas.fa-angle-right

= render 'shared/footer'
