= render 'shared/header'

.bread_crumbs
  %ul.bread
    %li.bread
    = link_to card_path do
      - breadcrumb :card
      = breadcrumbs

.wrapper
  %main.mypage.clearfix
    = render 'shared/sidebar'
    .card-container
      %section.chapter-container
        %h2.chapter-container__title 支払い方法
        .chapter-container__inner
          .chapter-container__inner-list クレジットカード一覧
          %section.chapter-container__inner-button
            .button-form
              .btn-red.submit-btn
                = link_to root_path, class: ".btn-red.submit-btn" do
                  = fa_icon 'credit-card'
                  クレジットカードを追加する
          .chapter-container__inner-pay
            .pay-way
              = link_to root_path, class: ".pay-way" do
                %span 支払い方法について
                = fa_icon 'angle-right'

= render 'shared/footer'
